NODE_ENV=development
BOT_TOKEN=token
WEBHOOK_HOST=
WEBHOOK_PORT=
WEBHOOK_PATH=
IS_WEBHOOK_ENABLED=false
NGROK_AUTHTOKEN=
DB_URL=postgresql://ranks-bot:test_password@localhost:5432/ranks_bot
DB_SYNC=true
USERS=142166671,546166718,383288860
TG_APP_PORT=3000
TG_APP_STATIC_DIR=
DEV_TELEGRAM_USER_ID=142166671
